# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.build/
dist/
.eggs/
*.egg-info/
*.egg

# Node
node_modules/
package-lock.json

# Build
build/
dist/

# VSCode
.vscode/

# macOS
.DS_Store

# Others
*.log